body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    direction: rtl;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.issue {
    width: 80%;
    height: auto;
    border: 1px solid #03a696;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 0.5tem 1rem;
}


.issue-headers {
    width: 90%;
}

.create-details {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    display: flex;
    align-items: center;
}


.date-time {
    padding: 5px 8px;
}

.creator {
    display: flex;
    padding: 5px 8px;
}

.title {
    padding: 5px 12px;
}

/* media query small size
.title h4 {
    margin: 8px;
} */

.issue-content {
    /* margin: 10px 10px; */
    /* max-height: 0; */
    padding: 5px 18px;
    font-size: 14px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.num-of-comments {
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: underline;
}

.comment {
    width: 80%;
    height: auto;
    border: 1px solid #000000;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.2rem 0.2rem;
    word-wrap: break-word;
}

.comment-id {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

.comment-content {
    padding: 10px 10px;
}

.go-prev {
    padding: 10px;
    ;
    color: #03a696;
    cursor: pointer;
}

.add-comment, .cant-comment {
    color: #03a696;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.add-comment {
    cursor: pointer;
}

.cant-comment {
    font-weight: bold;
}

.add-comment img {
    width: 16px;
    padding-left: 5px;
}

.edit-comment img {
    width: 16px;
    padding: 3px;
    cursor: pointer;
}

/*modal*/

.modal {
    display: none; /* ���� ������ ���� */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    animation: slide-down 0.4s ease-out;
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.closeIssue {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .closeIssue:hover,
    .closeIssue:focus {
        color: #000;
        text-decoration: none;
    }

.clear-form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

    .clear-form img {
        cursor: pointer;
    }

.input-box {
    margin-bottom: 15px;
}

    .input-box label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-box input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

.primary-btn {
    background-color: #03a696;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .primary-btn:hover {
        background-color: #0056b3;
    }
